@keyframes progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-progress {
  width: 100%;
  transform: translateX(-100%);
  animation-name: progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: reduce) {
  .animate-progress {
    animation-duration: 0s !important;
  }
}
